<h1 class="text-center mt-4"> Individual: <%= @individual.name %></h1>
<br/>
<h2 class="text-center mt-4"> Biography:<p> <%= @individual.bio %></p></h2>
<p>
<%= link_to "Enter Vitals",  new_individual_individual_vitals_log_path(@individual), class: "btn btn-primary" %></p>


