<h1>Log listing page </h1>

<table>
  <thead>
    <tr>
      <th>Shift </th>
      <th>Notes</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @daily_logs.each do |log| %>
      <tr>
        <td><%= log.shift %></td>
        <td><%= log.notes %></td>
        <td>Placeholder</td>
      </tr>
    <% end %>
  </tbody>
</table>

