<h1> class="text-center mt-4">Listing all Daily Logs</h1>
<% @daily_logs.each do |log| %>
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special <td><%= log.shift %></td></h5>
      <p class="card-text"><td><%= log.notes %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
<% end %> 



