<div class="container">
   <div class="row justify-content-center">
       <div class="col-10">   
        <h1/> All Daily Activities</h1>
  
           <% @daily_activities.each do |activity| %>
    
            <h5>Daily Activity: <%= link_to activity.title, daily_activity_path(activity) %></td></h5>
            <p><%= truncate(activity.description, length: 100) %></p>
        
           <% end %> 
        </div>
</div>
<div>
 